<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

<div class="container">
<div class="jumbotron">
	<h1 id="container"> Add A New Flight! </h1>
	<h3><i> Powered by Air Sealand </i></h3>
	<h5> <a href="/">Go Back</a></h5>

</div><div align = center>

		<div style="text-align:center" id = 'jumbotron'>
		<form action="{{ url_for('addflight')}}" method="post">
	    <input type="text" name="departure" placeholder="departure" />
        <input type="text" name="destination" placeholder="destination">
		<input type="text" name="dep_time" placeholder ='departure time'>
        <input type="text" name="arr_time" placeholder="time of arrival" size="25"/>
		<input type="text" name="flight_number" placeholder="flight number" size="25"/>
			<input type="text" name="available_seats" placeholder="available_seats" size="25"/>
			<input type="text" name="price" placeholder="flight price" size="25"/>
		<input type="submit" value="Add Flight">
		</div>
</body>
</html>


