<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>

<div class="container">
<div class="jumbotron">
	<h1 id="container"> Add A New Flight! </h1>
	<h3><i> Powered by Air Sealand </i></h3>
	<h5> <a href="/">Go Back</a></h5>

</div><div align = center>

		<div style="text-align:center" id = 'jumbotron'>
		<form action="{{ url_for('editFlight')}}" method="post">
	    <input type="text" name="FlightNumber" placeholder="Flight Number" />
        <input type="text" name="Airplane" placeholder="Airplane">
		<input type="text" name="Airline" placeholder ='Airline'>
        <input type="text" name="deptTime" placeholder="deptTime"/>
		<input type="text" name="deptAirport" placeholder="deptAirport"/>
		<input type="text" name="arrTime" placeholder="arrTime"/>
		<input type="text" name="arrAirport" placeholder="arrAirport"/>
		<input type="text" name="Price" placeholder="Price"/>
		<input type="text" name="AvailableSeats" placeholder="AvailabeSeats"/>
		<input type="submit" value="Update Flight">
		</div>
</body>
</html>


